.Card{
    display: flex;
    flex-flow: row-reverse wrap;
margin-bottom: 0.2%;
border: 3px;
padding:5px;

}
.card-body{
margin: 0.1% 0.1% 1% 1%;
border:3px solid white;
width:350px;
height:375px;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);

}
.image{
    width:350px;
    height:175px ;
}
.content{
    color:hsl(0, 0%, 47%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.button{
    padding: 5px;
    color: white;
    background-color: rgba(240, 127, 86, 0.836);
    padding: 10px 24px;
    font-size: medium;
    border-radius: 4px;
    border: none;
}
.heading{
    color:coral;
    padding-right: 5px;
}
.body{
    padding: 10px;
}

 